LibraryWinForm/LibraryWPF/bin/Debug/LibraryWPF.exe
LibraryWinForm/LibraryWPF/bin/Debug/LibraryWPF.exe.config
LibraryWinForm/LibraryWPF/bin/Debug/LibraryWPF.pdb
LibraryWinForm/LibraryWPF/obj/Debug/App.g.cs
LibraryWinForm/LibraryWPF/obj/Debug/LibraryWPF.csproj.CoreCompileInputs.cache
LibraryWinForm/LibraryWPF/obj/Debug/LibraryWPF.csproj.FileListAbsolute.txt
LibraryWinForm/LibraryWPF/obj/Debug/LibraryWPF.csproj.GenerateResource.cache
LibraryWinForm/LibraryWPF/obj/Debug/LibraryWPF.exe
LibraryWinForm/LibraryWPF/obj/Debug/LibraryWPF.g.resources
LibraryWinForm/LibraryWPF/obj/Debug/LibraryWPF.pdb
LibraryWinForm/LibraryWPF/obj/Debug/LibraryWPF.Properties.Resources.resources
LibraryWinForm/LibraryWPF/obj/Debug/LibraryWPF_MarkupCompile.cache
LibraryWinForm/LibraryWPF/obj/Debug/LibraryWPF_MarkupCompile.lref
LibraryWinForm/LibraryWPF/obj/Debug/MainWindow.baml
LibraryWinForm/LibraryWPF/obj/Debug/MainWindow.g.cs
LibraryWinForm/LibraryWinForm/bin/Debug/LibraryWinForm.exe
LibraryWinForm/LibraryWinForm/bin/Debug/LibraryWinForm.exe.config
LibraryWinForm/LibraryWinForm/bin/Debug/LibraryWinForm.pdb
LibraryWinForm/LibraryWinForm/obj/Debug/LibraryWinForm.csproj.CoreCompileInputs.cache
LibraryWinForm/LibraryWinForm/obj/Debug/LibraryWinForm.csproj.FileListAbsolute.txt
LibraryWinForm/LibraryWinForm/obj/Debug/LibraryWinForm.csproj.GenerateResource.cache
LibraryWinForm/LibraryWinForm/obj/Debug/LibraryWinForm.csproj.SuggestedBindingRedirects.cache
LibraryWinForm/LibraryWinForm/obj/Debug/LibraryWinForm.exe
LibraryWinForm/LibraryWinForm/obj/Debug/LibraryWinForm.pdb
LibraryWinForm/LibraryWinForm/obj/Debug/LibraryWinForm.Properties.Resources.resources
LibraryWinForm/.vs/LibraryWinForm/FileContentIndex/868080cf-c7e9-4d3d-b675-9c25c99ecfdf.vsidx
